@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap');

html {
    width: 100%;
    height: 100%;
}
body {
    padding: 0 70px 0 70px;
    background-color: #323031;
    color: white;
    font-family: 'Noto Sans HK', sans-serif;
}
p {
    font-size: 16px;
    margin: 0;
}
header img {
    height: 60px;
    margin-left: 45%;
}
@keyframes mirror {
    100% {
        transform: scaleX(-1);
    }
}
.mirror {
    animation: mirror 2s linear forwards;
}
header {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-top: 25px;
}
h1 {
    font-family: 'Allerta Stencil', sans-serif;
}
nav h1 {
    float: right;
    font-size: 25px;
}
.profile img {
    width: 100%;
}
.profile {
    width: 50%;
    float: right;
    margin-top: 60px;
}
.screenshots img {
    width: 100%;
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
}
@keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(.7, .7)
    }
    to {
        opacity: 1;
    }
}
.fade-in-element {
    animation: fade-in 1.4s;
}
.screenshots {
    width: 50%;
    height: 100%;
    float: right;
    margin-top: 140px;
}
.description {
    width: 45%;
    float: left;
    margin-top: 30px;
}
.description p{
    margin-top: 25px;
}
.about {
    float: left;
    width: 50%;
    margin-top: 80px;
}
.about p{
    width:80%;
    margin-bottom: 8%;
    margin-top: 2%;
}
.about img{
    width: 35px;
}
.icons{
    margin-left:40%;
    display:flex;
}
.description h1 {
    font-size: 50px;
    margin-bottom: 0;
}
.about h1 {
    font-size: 50px;
}
.container {
    position: relative;
    height: 400px;
    display: inline-block;
    align-content: center;
    transition: 0.3s;
}
.container:hover {
    transform: scale(1.05);

}
.image {
    display: grid;
    height: 300px;
    float: left;

}
.overlay {
    transition: all .3s ease;
    opacity: 0;
    margin: 0;
}
.container:hover .overlay {
    opacity: 1;
}
.text {
    width: 80%;
    font-size: 18px;
    text-align: left;
    float: right;
    display: grid;
    margin-left:10%;
}
div {
    display: grid;
}
section a {
    text-decoration: none;
    color: #C3B299;
}
header a {
    text-decoration: none;
    color: white;
}
header a:hover {
    color: #C3B299;
}
footer {
    margin-left: 50%;
}
footer img {
    width: 35px;
}

@media only screen and (max-width: 1000px){
    p{
        font-size: 14px;
    }
    body{
        padding: 0px 40px 0 40px;
    }
    .profile{
        margin-top: 50px;
    }
    .about{
    z-index: 1;
    position: relative;
    margin-top: 0px;
    }
    .image{
        width: 100%;
        height: auto;
        float: none;
    }
    .container{
        height: auto;
    }
    section h1{
        font-size: 35px;
    }
    div{
        display: inline-block;
    }
    .overlay{
        padding-bottom: 50px;
    }
    .text{
        width:100%;
    }
    .screenshots{
        height: 100%;
    }
    .screenshots img{
        width: 100%;
        margin-top:10%;
    }
    .description h1{
        margin-bottom: 10%;
    }
}

@media only screen and (max-width: 600px){
    body{
       padding: 0 15px 0 15px;
    }
    p{
        font-size: 14px;
    }
    nav h1{
        font-size: 20px;
    }
    nav img{
        height: 50px;
        margin: 0;
    }
    main{
        display: inline-block;
    }
    .about h1{
        font-size: 40px;
        position: relative;
    }
    .about img{
        position: relative;
        margin-left: 100%;
    }
    .about{
        margin-top: 50px;
        width: 65%;
        height: 100%;

    }
    .about p{
        width: 320px;
        margin-top: 30px;
    }
    .profile{
       width: 50%;
        position:fixed;
    }
    section h1{
        font-size:35px;
    }
    .image{
        height:auto;
    }
    .text{
        width: 100%;
        margin: 0;
    }
    .overlay{
        opacity: 1;
    }
    .description{
        width: 100%;
        height: 100%;
    }
    .description h1{
        margin-bottom: 20px;
        margin-top: 60px;
    }
    .description p{
        margin-bottom: 30px;
    }
    .screenshots{
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
        height: 100%;
    }
    .screenshots img{
        margin:0;
    }
    footer {
        margin-left: 38%;
    }
}
