.container {
    position: relative;
    height: 400px;
    display: inline-block;
}
.image {
    display: block;
    height: 400px;

}
.overlay {
    position: absolute;
    transition: all .3s ease;
    opacity: 0;
    background-color: #CDACA1;
}
.container:hover .overlay {
    opacity: 1;

}
.text {
    color: white;
    font-family: 'Allerta Stencil', sans-serif;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    background-color: #CDACA1;
}
.overlayLeft {
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background-color: #CDACA1;
}
.container:hover .overlayLeft {
    width: 100%;
}
